<div align="center">

# {{ project_name }}

{{ project_description }}

[![Copier](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/copier-org/copier/master/img/badge/badge-grayscale-inverted-border-orange.json)](https://github.com/copier-org/copier)
[![uv](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/astral-sh/uv/main/assets/badge/v0.json)](https://github.com/astral-sh/uv)
[![Python Versions](https://img.shields.io/badge/python-{% for minor in range(min_python_version.split('.')[1]|int, 14) %}3.{{ minor }}{% if not loop.last %}%20|%20{% endif %}{% endfor %}-blue.svg)]()
{%- if publish_to_pypi %}
[![PyPI](https://img.shields.io/pypi/v/{{ project_name }})](https://pypi.org/project/{{ project_name }}/)
{%- endif %}
{%- if repository_provider == 'github' %}
[![Release](https://img.shields.io/github/v/release/{{ author_github_handle }}/{{ project_name }})](https://github.com/{{ author_github_handle }}/{{ project_name }}/releases)
[![Commit activity](https://img.shields.io/github/commit-activity/m/{{ author_github_handle }}/{{ project_name }})](https://github.com/{{ author_github_handle }}/{{ project_name }}/commits)
[![GitHub](https://img.shields.io/github/license/{{ author_github_handle }}/{{ project_name }})](https://github.com/{{ author_github_handle }}/{{ project_name }}/blob/main/LICENSE)
{%- endif %}
[![pre-commit](https://img.shields.io/badge/pre--commit-enabled-brightgreen?logo=pre-commit)](https://github.com/pre-commit/pre-commit)
[![Checked with mypy](https://www.mypy-lang.org/static/mypy_badge.svg)](http://mypy-lang.org/)
[![Ruff](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/astral-sh/ruff/main/assets/badge/v2.json)](https://github.com/astral-sh/ruff)
{%- if with_conventional_commits %}
[![Conventional Commits](https://img.shields.io/badge/Conventional%20Commits-1.0.0-%23FE5196?logo=conventionalcommits&logoColor=white)](https://conventionalcommits.org)
{%- endif %}
{%- if repository_provider == 'github' %}
[![documentation](https://img.shields.io/badge/docs-mkdocs%20material-blue.svg?style=flat)]({{ documentation }})
{%- endif %}

</div>

## Installation

{% if publish_to_pypi -%}
You can install this package in several ways:

### From PyPI

- Using `pip`:

    ```bash
    pip install {{ project_name }}
    ```

- Using `uv`:

    ```bash
    uv add {{ project_name }}
    ```
{%- endif %}

{% if repository_provider == 'github' -%}
{% if publish_to_pypi -%}
### From Source
{% else -%}
You can install this package in several ways:
{% endif %}

- Directly from GitHub:

    ```bash
    uv add git+{{ repository }}
    ```

- Or by cloning the repository:

    ```bash
    git clone {{ repository }}
    cd my-package
    ```

Then, install the dependencies using Make:

{% elif publish_to_pypi -%}
### From Source
{% else -%}
To install the package, simply run:
{% endif %}

- For production dependencies:

    ```bash
    make setup
    ```

- For development setup (includes dev dependencies and Git hooks):

    ```bash
    make setup-dev
    ```

> [!info]
> Using `make` ensures that `uv` is installed automatically if it's not already present.

{% if with_typer_cli -%}
> [!tip]
> To make the CLI available globally (without needing to activate the virtual environment every time), you can run:
> ```bash
> make setup-cli
> ```
{%- endif %}

> [!tip]
> This quick guide should get you started, but for a complete overview of the project's features and usage, check out the original [python-template-uv](https://github.com/bassemkaroui/python-template-uv) template used to generate this repository.

{% if not documentation -%}
## Documentation

You can generate the project documentation locally by running:

```bash
make docs
```

This will build the documentation using MkDocs.
Once generated, simply open the provided URL in your browser to explore it.
{%- endif %}

{% if copyright_license != "No License" -%}
## 📄 License

This project is released under the **{{ copyright_license }}**. {% if repository %}See [LICENSE]({{ repository }}/blob/main/LICENSE) for details.{% endif -%}
{%- endif -%}
