# {{ project_name }}

{% if repository_provider == 'github' -%}
[![Release](https://img.shields.io/github/v/release/{{ author_github_handle }}/{{ project_name }})](https://img.shields.io/github/v/release/{{ author_github_handle }}/{{ project_name }})
[![Build status](https://img.shields.io/github/actions/workflow/status/{{ author_github_handle }}/{{ project_name }}/main.yml?branch=main)](https://github.com/{{ author_github_handle }}/{{ project_name }}/actions/workflows/main.yml?query=branch%3Amain)
[![codecov](https://codecov.io/gh/{{ author_github_handle }}/{{ project_name }}/branch/main/graph/badge.svg)](https://codecov.io/gh/{{ author_github_handle }}/{{ project_name }})
[![Commit activity](https://img.shields.io/github/commit-activity/m/{{ author_github_handle }}/{{ project_name }})](https://img.shields.io/github/commit-activity/m/{{ author_github_handle }}/{{ project_name }})
[![License](https://img.shields.io/github/license/{{ author_github_handle }}/{{ project_name }})](https://img.shields.io/github/license/{{ author_github_handle }}/{{ project_name }})
{%- endif %}
