services:
  {{ project_name }}:
    image: {{ project_name }}:0.0.1
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
      args:
        - ENVIRONMENT=prod
    {%- if gpus %}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    {%- endif %}
    restart: unless-stopped
