from typer.testing import CliRunner

from {{ project_slug }} import __version__
from {{ project_slug }}.cli.main import app

runner = CliRunner()


def test_version_as_command() -> None:
    result = runner.invoke(app, ["version"])
    assert result.exit_code == 0
    assert f"{{ cli_name }} version: {__version__}" in result.stdout


def test_version_as_option() -> None:
    result = runner.invoke(app, ["--version"])
    assert result.exit_code == 0
    assert f"{{ cli_name }} version: {__version__}" in result.stdout
