    {%- if 'pytest-asyncio' in dev_deps %}
    "pytest-asyncio>=0.26.0",
    {%- endif %}
    {%- if 'pytest-benchmark[histogram]' in dev_deps %}
    "pytest-benchmark[histogram]>=5.1.0",
    {%- endif %}
    {%- if ('pytest-benchmark' in dev_deps) and ('pytest-benchmark[histogram]' not in dev_deps) %}
    "pytest-benchmark>=5.1.0",
    {%- endif %}
    {%- if 'responses' in dev_deps %}
    "responses>=0.25.7",
    {%- endif %}
    {%- if 'aioresponses' in dev_deps %}
    "aioresponses>=0.7.8",
    {%- endif %}
    {%- if 'types-requests' in dev_deps %}
    "types-requests>=2.32.0.20250328",
    {%- endif %}
    {%- if 'pyinstrument' in dev_deps %}
    "pyinstrument>=5.0.1",
    {%- endif %}
    {%- if 'jupyterlab' in dev_deps %}
    "jupyterlab>=4.4.1",
    {%- endif -%}
