{% if 'pytorch_cpu' in dl_pytorch_deps or 'pytorch_cu129' in dl_pytorch_deps or 'pytorch_cu128' in dl_pytorch_deps or 'pytorch_cu126' in dl_pytorch_deps or 'pytorch_cu124' in dl_pytorch_deps or 'pytorch_cu121' in dl_pytorch_deps or 'pytorch_cu118' in dl_pytorch_deps %}
[tool.uv.sources]
torch = [
    {%- if 'pytorch_cpu' in dl_pytorch_deps %}
    { index = "pytorch-cpu"},
    {%- elif 'pytorch_cu118' in dl_pytorch_deps %}
    { index = "pytorch-cu118"},
    {%- elif 'pytorch_cu121' in dl_pytorch_deps %}
    { index = "pytorch-cu121"},
    {%- elif 'pytorch_cu124' in dl_pytorch_deps %}
    { index = "pytorch-cu124"},
    {%- elif 'pytorch_cu126' in dl_pytorch_deps %}
    { index = "pytorch-cu126"},
    {%- elif 'pytorch_cu128' in dl_pytorch_deps %}
    { index = "pytorch-cu128"},
    {%- elif 'pytorch_cu129' in dl_pytorch_deps %}
    { index = "pytorch-cu129"},
    {%- endif %}
]
{%- if 'torchvision' in dl_pytorch_deps %}
torchvision = [
    {%- if 'pytorch_cpu' in dl_pytorch_deps %}
    { index = "pytorch-cpu"},
    {%- elif 'pytorch_cu118' in dl_pytorch_deps %}
    { index = "pytorch-cu118"},
    {%- elif 'pytorch_cu121' in dl_pytorch_deps %}
    { index = "pytorch-cu121"},
    {%- elif 'pytorch_cu124' in dl_pytorch_deps %}
    { index = "pytorch-cu124"},
    {%- elif 'pytorch_cu126' in dl_pytorch_deps %}
    { index = "pytorch-cu126"},
    {%- elif 'pytorch_cu128' in dl_pytorch_deps %}
    { index = "pytorch-cu128"},
    {%- elif 'pytorch_cu129' in dl_pytorch_deps %}
    { index = "pytorch-cu129"},
    {%- endif %}
]
{%- endif %}
{%- if 'torchaudio' in dl_pytorch_deps %}
torchaudio = [
    {%- if 'pytorch_cpu' in dl_pytorch_deps %}
    { index = "pytorch-cpu"},
    {%- elif 'pytorch_cu118' in dl_pytorch_deps %}
    { index = "pytorch-cu118"},
    {%- elif 'pytorch_cu121' in dl_pytorch_deps %}
    { index = "pytorch-cu121"},
    {%- elif 'pytorch_cu124' in dl_pytorch_deps %}
    { index = "pytorch-cu124"},
    {%- elif 'pytorch_cu126' in dl_pytorch_deps %}
    { index = "pytorch-cu126"},
    {%- elif 'pytorch_cu128' in dl_pytorch_deps %}
    { index = "pytorch-cu128"},
    {%- elif 'pytorch_cu129' in dl_pytorch_deps %}
    { index = "pytorch-cu129"},
    {%- endif %}
]
{%- endif %}

[[tool.uv.index]]
{%- if 'pytorch_cpu' in dl_pytorch_deps %}
name = "pytorch-cpu"
url = "https://download.pytorch.org/whl/cpu"
{%- elif 'pytorch_cu118' in dl_pytorch_deps %}
name = "pytorch-cu118"
url = "https://download.pytorch.org/whl/cu118"
{%- elif 'pytorch_cu121' in dl_pytorch_deps %}
name = "pytorch-cu121"
url = "https://download.pytorch.org/whl/cu121"
{%- elif 'pytorch_cu124' in dl_pytorch_deps %}
name = "pytorch-cu124"
url = "https://download.pytorch.org/whl/cu124"
{%- elif 'pytorch_cu126' in dl_pytorch_deps %}
name = "pytorch-cu126"
url = "https://download.pytorch.org/whl/cu126"
{%- elif 'pytorch_cu128' in dl_pytorch_deps %}
name = "pytorch-cu128"
url = "https://download.pytorch.org/whl/cu128"
{%- elif 'pytorch_cu129' in dl_pytorch_deps %}
name = "pytorch-cu129"
url = "https://download.pytorch.org/whl/cu129"
{%- endif %}
explicit = true
{%- endif %}
